version: "3.8"

services:
  web:
    image: php:8.3-apache
    container_name: php-web
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
  db:
    image: mariadb:11
    container_name: php-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
